
@model WEINCDENTAL.Models.hst_hastakarti


<article class="col-sm-12 col-md-12 col-lg-6" id="dinamikBilgi">
    <fieldset>

        <section class="form-group col-md-3">
            <h5>
                <span>
                    <label class="col-md-4 label label-info">T.C. :</label>
                    <label class="col-md-8 label label-default">@Html.DisplayFor(model => model.t_tc)</label>
                </span>
            </h5>
        </section>

        <section class="form-group col-md-3">
            <h5>
                <span>
                    <label class="col-md-4 label label-info">Ad:</label>
                    <label class="col-md-8 label label-default">@ViewBag.Ad</label>
                </span>
            </h5>
        </section>
        <section class="form-group col-md-3">
            <h5>
            <span>
                <label class="col-md-4 label label-info">D.Tar:</label>
                <label class="col-md-8 label label-default">@Html.DisplayFor(model => model.t_dogumtarihi) </label>
            </span>
            </h5>
        </section>
        <section class="form-group col-md-3">
            <h5>
                <span>
                    <label class="col-md-4 label label-info">Tel:</label>
                    <label class="col-md-8 label label-default">@Html.DisplayFor(model => model.t_tel1) </label>
                </span>
            </h5>
        </section>

    </fieldset>
</article>

