
@{
    ViewBag.Title = "Vezne";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- MAIN CONTENT -->
<div id="content">
    <!-- row -->
    <div class="row">
        <!-- col -->
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h1 class="page-title txt-color-blueDark">
                <!-- PAGE HEADER -->
                <i class="fa-fw fa fa-money"></i>
                Vezne
            </h1>
        </div>

    </div>
    <!-- widget grid -->
    <section id="widget-grid">
        <!-- row -->
        <div class="row">


            <!-- NEW WIDGET START -->
            <article class="col-sm-12 col-md-12 col-lg-7 sortable-grid ui-sortable">
                <!-- Widget ID (each widget will need unique ID)-->


                <div id="loadVezne">
                  
                </div>



            </article>


            <article class="col-sm-12 col-md-12 col-lg-5 sortable-grid ui-sortable">
                <!-- Widget ID (each widget will need unique ID)-->


                <div id="loadVHizmet">
                    @*@Html.Action("_DisHHareket", "View_HizmetDetay", new { id = 4 })*@
                </div>



            </article>
            <!-- WIDGET END -->



            <div class="col-sm-12">
                <!-- your contents here -->
            </div>
        </div>
        <!-- end row -->
    </section>
    <!-- end widget grid -->
</div>
<script src="~/Scripts/Remove.js"></script>
<script src="~/Scripts/WeincdentalScript.js"></script>
<script src="~/Scripts/jquery/jquery-1.9.1.min.js"></script>

@section pagespecific {
<script type="text/javascript">
    
        function GetVezne() {
            var tc = document.getElementById('Stc').value;

            if (tc == null || tc == '') {
                alert("Lütfen T.C. No giriniz...");

            } else {
                LoadVezne(tc);
                @*$('#loadVezne').load("@Url.Action("_Vezne")", { tc: tc });*@

            }

        }

    function LoadVezne(vid) {
       
            var getvezne = GetNewVezne(vid);
            $('#loadVezne').html(getvezne);
    }
        function LoadVezneHizmet(b_id) {
            var gethizmetmodul = GetVezneHareket(b_id);
            $('#loadVHizmet').html(gethizmetmodul);
        }


        function OdemeGeriAl(vid,htc) {

            $.SmartMessageBox({
                    title: "UYARI!",
                    content:"Yapılan Borç Geri  Alınacaktır. Emin misiniz?",
                    buttons: '[No][Yes]'
                },
                function (ButtonPressed) {
                    if (ButtonPressed === "Yes") {
                        var rslt= VezneRemove(vid);
                        if (rslt) {
                            LoadVezne(htc);
                          
                        }

                    }
                    if (ButtonPressed === "No") {
                        $.smallBox({
                            title: "İPTAL",
                            content: "<i class='fa fa-clock-o'></i> <i>Silme işleminden vazgeçildi...</i>",
                            color: "#C46A69",
                            iconSmall: "fa fa-times fa-2x fadeInRight animated",
                            timeout: 4000
                        });
                    }

                });
        }
    $(document).ready(function () {
        

            LoadVezne(@ViewBag.tc);
            var hata = @Html.Raw(Json.Encode(ViewBag.hata));
            var hmesaj = @Html.Raw(Json.Encode(ViewBag.error));

            if (hata==2) {
                $.smallBox({
                    title: "Ödeme İşlemi Başarılı oldu.",
                    content: "<i class='fa fa-clock-o'></i> <i>Az önce...</i>",
                    color: "#739E73",
                    iconSmall: "fa fa-thumbs-up bounce animated",
                    timeout: 4000
                });
            } else if (hata == 1){
                $.smallBox({
                    title: "Bir Hata Meydana Geldi.",
                    content: "<i class='fa fa-clock-o'></i> <i>Az önce... " + hmesaj + " </i>",
                    color: "#cc1818",
                    iconSmall: "fa fa-times-circle bounce animated",
                    timeout: 4000
                });

            }

        });
</script>
}