@model WEINCDENTAL.Models.adm_modulyetki

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h2>Modül Yetki Sil</h2>
    <hr />
    <h4>@Html.DisplayNameFor(model => model.t_adi)</h4>
    <hr />
    <h4>@Html.DisplayFor(model => model.t_adi)</h4>
    <h3>Bu yetkiyi silmek üzeresin emin misin ?</h3>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <input type="submit" value="Sil" class="btn btn-primary col-md-12 col-sm-12 col-xs-12 col-lg-12" />
        <input type="button" value="Geri dön" class="btn btn-default col-md-12 col-sm-12 col-xs-12 col-lg-12" id="disBtn" onclick="location.href='@Url.Action("ayarlar", "home")'" />
    }
</div>
