@model  IEnumerable<WEINCDENTAL.Models.View_Pacs>
@{
    ViewBag.Title = "PacsList";
    Layout = null;
}

<link rel="stylesheet" href="~/Content/css/gallery/baguetteBox.min.css">
<link rel="stylesheet" href="~/Content/css/gallery/gallery-grid.css">
<br />
<br />
<div class="container gallery-container">
    <h1>PACS GÖRÜNTÜLERİ</h1>

    <div class="tz-gallery">

        <div class="row" style="height: 525px; overflow-x: hidden; overflow-y: scroll;">
            @foreach (var item in Model)
            {
                <div class="superbox-list ">
                    <a class="lightbox" href="~/Pacs/@item.t_klasorad/@item.t_resimad">
                        <img src="~/Pacs/@item.t_klasorad/@item.t_resimad" alt="Park">
                    </a>
                    <div class="desc">
                        <h5 class="title">@item.t_createdate.ToShortDateString()</h5>

                    </div>
                </div>
                

            }
        </div>
    </div>
</div>
<br />
<br />
<script src="~/Scripts/baguetteBox.min.js"></script>
<script>
    baguetteBox.run('.tz-gallery');
</script>
<style>
    
    .superbox-list:hover {
        border-radius: 20px;
        box-shadow: 0 8px 15px rgba(0, 0, 0, 0.06);
        background: linear-gradient(45deg, black, transparent);
        color: white;
        cursor: pointer;
    }
    
</style>