
@{
    ViewBag.Title = "Pac Sorgula";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- MAIN CONTENT -->
<div id="content">
    <!-- row -->
    <div class="row">
        <!-- col -->
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h1 class="page-title txt-color-blueDark">
                <!-- PAGE HEADER -->
                <i class="fa-fw fa fa-file-movie-o"></i>
                Pacs Sorgula
            </h1>
        </div>

    </div>
    <!-- widget grid -->
    <section id="widget-grid">
        <!-- row -->
        <div class="row">


            <!-- NEW WIDGET START -->
            <article class="col-lg-offset-2 col-sm-12 col-md-12 col-lg-8 sortable-grid ui-sortable">
                <!-- Widget ID (each widget will need unique ID)-->


                <div id="loadPacs">
                    @*@Html.Action("_PartialPacs")*@
                </div>


            </article>
            <!-- WIDGET END -->



            <div class="col-sm-12">
                <!-- your contents here -->
            </div>
        </div>
        <!-- end row -->
    </section>
    <!-- end widget grid -->
</div>

<script src="~/Scripts/Remove.js"></script>
<script src="~/Scripts/WeincdentalScript.js"></script>
<script src="~/Scripts/jquery/jquery-1.9.1.min.js"></script>

@section pagespecific {
    <script type="text/javascript">

        $(document).ready(function () {

            LoadPacs(null, null, null, null);
            GetScripts();

        });
        function GetPacs() {
            var tc = document.getElementById('Ptc').value;
            var ad = document.getElementById('PAd').value;
            var basDate = document.getElementById('Pstartdate').value;
            var bitDate = document.getElementById('Pfinishdate').value;
           
            if ((tc == null || tc === "") && ad === "" && basDate === "" && bitDate === "") {
             
                $('#TxtKontrol').html('');
                $('#TxtKontrol').html("<label style='color: red'>Lütfen alanlardan birini doldurunuz!</label>");
            }
            else {
               
                LoadPacs(tc, ad, basDate, bitDate);
            }

        }
        function LoadPacs(tc, ad, sDate, fDate) {

            var getpacs = GetNewPacs(tc, ad, sDate, fDate);
            $('#loadPacs').html(getpacs);
            GetScripts();
        }

        function GetScripts() {
            $('#Pstartdate').datepicker({
                dateFormat: 'dd.mm.yy',
                prevText: '<i class="fa fa-chevron-left"></i>',
                nextText: '<i class="fa fa-chevron-right"></i>',
                onSelect: function (selectedDate) {
                    $('#Pfinishdate').datepicker('option', 'minDate', selectedDate);
                }
            });

            $('#Pfinishdate').datepicker({
                dateFormat: 'dd.mm.yy',
                prevText: '<i class="fa fa-chevron-left"></i>',
                nextText: '<i class="fa fa-chevron-right"></i>',
                onSelect: function (selectedDate) {
                    $('#Pstartdate').datepicker('option', 'maxDate', selectedDate);
                }
            });
        }


    </script>
}