

<div class="jarviswidget" id="wid-id-4" data-widget-fullscreenbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-colorbutton="false" data-widget-custombutton="false" data-widget-sortable="false">

    <header>
        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
        <h2>Yeni Hizmetler - <span style="font-size: smaller;font-weight: bolder;color: red;"> Hizmet Kaydı yapmadan önce kontrol ediniz!</span></h2>
    </header>
    <div>
        <div class="jarviswidget-editbox">
        </div>
        <div class="widget-body no-padding">
      
            <div class="table-responsive">
                <table class="table table-bordered" id="tblHizmet">
                    <thead>
                    <tr>
                        <th>Hizmet Kodu</th>
                        <th>Hizmet Adı</th>
                        <th>Diş Kodu</th>
                        <th>Çene Durumu</th>
                        <th>Fiyat</th>
                        @*<th>Firma</th>
                        <th>Marka</th>*@
                        <th>İşlem</th>
                    </tr>
                    </thead>
                    <tbody id="tblbody">

                    <tr class="success" id="newHizmet">
                        <td> <label id="HKod" name="HKod"></label> </td>
                        <td> <label id="HAd" name="HAd"></label> </td>
                        <td> <label id="DKod"></label> </td>
                        <td> <label id="CDurum"></label> </td>
                        <td> <label id="Fiyat"></label> </td>
                        @*<td>
                            @Html.DropDownList("t_fid", null,  htmlAttributes: new { @class = "form-control FirmaDrop",@id= "Fid",
                                placeholder = "Firma Seçiniz ",
                                @disabled = "disabled"
                            })
                        </td>
                        <td>
                            @Html.DropDownList("t_mid", null,  htmlAttributes: new { @class = "form-control",@id= "Mid",
                                placeholder = "Firma Seçiniz ",
                                @disabled = "disabled"
                            })
                        </td>*@
                        <td class="danger">
                            <input type='button' id="btnremove" class='btn  btn-labeled btn-danger AddNew'>

                        </td>
                    </tr>

                    </tbody>
                </table>
                <div class="dt-toolbar-footer">
                    <div style="float: right;">
                        <button class="btn-labeled btn-success btn" id="saveIcon"  onclick="Gonder()">
                            <span class="btn-label">
                                <i class="glyphicon glyphicon-plus-sign"></i>
                            </span>Kaydet
                        </button>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>
