

<div class="jarviswidget" id="wid-id-4" data-widget-fullscreenbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-colorbutton="false" data-widget-custombutton="false" data-widget-sortable="false">

    <header>
        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
        <h2>Yeni Hizmetler</h2>
    </header>
    <div>
        <div class="jarviswidget-editbox">
        </div>
        <div class="widget-body no-padding">
            <p> Hizmet Kaydı yapmadan önce kontrol ediniz!</p>
            <div class="table-responsive">
                @*@using (Html.BeginForm("Create", "hst_his_hareket", FormMethod.Post))
                    {*@
                @* @Html.AntiForgeryToken()*@


                <table class="table table-bordered" id="tblHizmet">
                    <thead>
                        <tr>
                            <th>Hizmet Kodu</th>
                            <th>Hizmet Adı</th>
                            <th>Diş Kodu</th>
                            <th>Çene Durumu</th>
                            <th>Fiyat</th>
                            <th>İşlem</th>
                        </tr>
                    </thead>
                    <tbody id="tblbody">

                        <tr class="success" id="newHizmet">
                            @*<td>@Html.EditorFor(o =>o.ListHareket[0].t_hizmetkodu,
                                new { htmlAttributes = new {@id = "HKod" } })</td>*@
                            <td> <label id="HKod" name="HKod"></label> </td>
                            @*<td> <input type="text" id="HKod" name="HKod" /></td>*@
                            @*<td>

                                    <input type="text" id="HAd" name="HAd" disabled="disabled"/>

                                </td>*@
                            <td> <label id="HAd" name="HAd"></label> </td>
                            <td> <label id="DKod"></label> </td>
                            <td> <label id="CDurum"></label> </td>
                            <td> <label id="Fiyat"></label> </td>
                            <td class="danger">
                                <input type='button' id="btnremove" class='AddNew' value='Add new item'>
                            </td>
                        </tr>





                    </tbody>
                </table>
                <div class="dt-toolbar-footer">
                    <div style="float: right;">
                        <button class="btn-labeled btn-success btn" id="saveIcon" onclick="Gonder()">
                            <span class="btn-label">
                                <i class="glyphicon glyphicon-plus-sign"></i>
                            </span>Kaydet
                        </button>
                    </div>
                </div>



                @* }*@
            </div>
        </div>
    </div>

</div>
<script type="text/javascript">

    function Gonder() {
        {
            var list = [
                {
                    "t_basvuruid": 1,
                    "t_hizmetkodu": 2,
                    "t_diskodu": 22,
                    "t_cene": 9

                },
                {
                    "t_basvuruid": 6,
                    "t_hizmetkodu": 4,
                    "t_diskodu": 38,
                    "t_cene": 9
                }
            ];
            $.ajax({
                type: "POST",
                data: JSON.stringify({ hst_his_hareket: list }),
                url: "../../hst_his_hareket/Create",
                contentType: "application/json"
            });
        }

    }

       
</script>