<article class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
    <div class="jarviswidget" id="wid-id-8" role="widget">
        <!-- widget options:
        usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

        data-widget-colorbutton="false"
        data-widget-editbutton="false"
        data-widget-togglebutton="false"
        data-widget-deletebutton="false"
        data-widget-fullscreenbutton="false"
        data-widget-custombutton="false"
        data-widget-collapsed="true"
        data-widget-sortable="false"

        -->
        <header role="heading">
            <span class="widget-icon"> <i class="fa fa-bookmark"></i> </span>
            <h2>Diş Modülü</h2>
            <ul class="nav nav-tabs pull-right in">

                <li class="active">

                    <a data-toggle="tab" href="#hb1" aria-expanded="true"> <i class="fa fa-lg fa-arrow-circle-o-up"></i> <span class="hidden-mobile hidden-tablet"> YETİŞKİN </span> </a>

                </li>

                <li>
                    <a data-toggle="tab" href="#hb2" aria-expanded="false"> <i class="fa fa-lg fa-arrow-circle-o-down"></i> <span class="hidden-mobile hidden-tablet"> ÇOCUK <span class="label bg-color-red txt-color-white"> -18 <i class="fa fa-exclamation"></i> </span> </span> </a>
                </li>

            </ul>
            <span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span>
        </header>

        <!-- widget div-->
        <div role="content">

            <!-- widget edit box -->
            <div class="jarviswidget-editbox">
                <!-- This area used as dropdown edit box -->

            </div>
            <!-- end widget edit box -->
            <!-- widget content -->
            <div class="widget-body">

                <div class="tab-content">
                    <div class="tab-pane active" id="hb1">

                        <div class="tabbable tabs-below">
                            <div class="tab-content padding-10">
                                <div class="tab-pane active" id="A1">
                                    <a href="javascript:void(0);" class="btn btn-warning">00</a>
                                    <a href="javascript:void(0);" class="btn btn-warning">00</a>
                                    <a href="javascript:void(0);" class="btn btn-warning">00</a>
                                    <a href="javascript:void(0);" class="btn btn-warning">00</a>
                                    <a href="javascript:void(0);" class="btn btn-warning">00</a>
                                    <a href="javascript:void(0);" class="btn btn-warning">00</a>
                                    <a href="javascript:void(0);" class="btn btn-warning">00</a>
                                    <a href="javascript:void(0);" class="btn btn-warning">00</a>
                                    <a href="javascript:void(0);" class="btn btn-default disabled">-</a>
                                    <a href="javascript:void(0);" class="btn btn-warning">11</a>
                                    <a href="javascript:void(0);" class="btn btn-warning">11</a>
                                    <a href="javascript:void(0);" class="btn btn-warning">11</a>
                                    <a href="javascript:void(0);" class="btn btn-warning">11</a>
                                    <a href="javascript:void(0);" class="btn btn-warning">11</a>
                                    <a href="javascript:void(0);" class="btn btn-warning">11</a>
                                    <a href="javascript:void(0);" class="btn btn-warning">11</a>
                                    <a href="javascript:void(0);" class="btn btn-warning">11</a>
                                    <br />
                                    <a href="javascript:void(0);" class="btn btn-warning">22</a>
                                    <a href="javascript:void(0);" class="btn btn-warning">22</a>
                                    <a href="javascript:void(0);" class="btn btn-warning">22</a>
                                    <a href="javascript:void(0);" class="btn btn-warning">22</a>
                                    <a href="javascript:void(0);" class="btn btn-warning">22</a>
                                    <a href="javascript:void(0);" class="btn btn-warning">22</a>
                                    <a href="javascript:void(0);" class="btn btn-warning">22</a>
                                    <a href="javascript:void(0);" class="btn btn-warning">22</a>
                                    <a href="javascript:void(0);" class="btn btn-default disabled">-</a>
                                    <a href="javascript:void(0);" class="btn btn-warning">33</a>
                                    <a href="javascript:void(0);" class="btn btn-warning">33</a>
                                    <a href="javascript:void(0);" class="btn btn-warning">33</a>
                                    <a href="javascript:void(0);" class="btn btn-warning">33</a>
                                    <a href="javascript:void(0);" class="btn btn-warning">33</a>
                                    <a href="javascript:void(0);" class="btn btn-warning">33</a>
                                    <a href="javascript:void(0);" class="btn btn-warning">33</a>
                                    <a href="javascript:void(0);" class="btn btn-warning">33</a>
                                </div>
                                <div class="tab-pane" id="B1">
                                            <p>
                                                             I love everyone! I love to be around some people, I love to stay away from others, and some I'd just love to punch right in the face!

                                            </p>
                                </div>
                                <div class="tab-pane" id="C1">
                                    <p>
                                        Trust fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out master cleanse gluten-free squid scenester freegan cosby sweater. Fanny pack portland seitan DIY, art party locavore wolf cliche high life echo park Austin. Cred vinyl keffiyeh DIY salvia PBR, banh mi before they sold out farm-to-table.
                                    </p>
                                </div>
                            </div>
                            <ul class="nav nav-tabs">
                                <li class="pull-right active">
                                    <a data-toggle="tab" href="#A1" aria-expanded="true">Tab 1</a>
                                </li>
                                <li class="pull-right">
                                    <a data-toggle="tab" href="#B1" aria-expanded="false">Tab 2</a>
                                </li>
                                <li class="pull-right">
                                    <a data-toggle="tab" href="#C1" aria-expanded="false">Tab 3</a>
                                </li>
                            </ul>
                        </div>

                    </div>
                    <div class="tab-pane" id="hb2">

                        <ul id="internal-tab-1" class="nav nav-tabs tabs-pull-right">
                            <li class="active">
                                <a href="#is1" data-toggle="tab" aria-expanded="true">Item 1</a>
                            </li>
                            <li>
                                <a href="#is2" data-toggle="tab" aria-expanded="false">Item 2</a>
                            </li>
                            <li>
                                <a href="#is3" data-toggle="tab" aria-expanded="false">Item 3</a>
                            </li>
                        </ul>
                        <div class="tab-content padding-10">
                            <div class="tab-pane active" id="is1">
                                <a href="javascript:void(0);" class="btn btn-warning">55</a>
                                <a href="javascript:void(0);" class="btn btn-warning">55</a>
                                <a href="javascript:void(0);" class="btn btn-warning">55</a>
                                <a href="javascript:void(0);" class="btn btn-warning">55</a>
                                <a href="javascript:void(0);" class="btn btn-warning">55</a>
                                <a href="javascript:void(0);" class="btn btn-default disabled">-</a>
                                <a href="javascript:void(0);" class="btn btn-warning">66</a>
                                <a href="javascript:void(0);" class="btn btn-warning">66</a>
                                <a href="javascript:void(0);" class="btn btn-warning">66</a>
                                <a href="javascript:void(0);" class="btn btn-warning">66</a>
                                <a href="javascript:void(0);" class="btn btn-warning">66</a>
                                <br />
                                <a href="javascript:void(0);" class="btn btn-warning">77</a>
                                <a href="javascript:void(0);" class="btn btn-warning">77</a>
                                <a href="javascript:void(0);" class="btn btn-warning">77</a>
                                <a href="javascript:void(0);" class="btn btn-warning">77</a>
                                <a href="javascript:void(0);" class="btn btn-warning">77</a>
                                <a href="javascript:void(0);" class="btn btn-default disabled">-</a>
                                <a href="javascript:void(0);" class="btn btn-warning">88</a>
                                <a href="javascript:void(0);" class="btn btn-warning">88</a>
                                <a href="javascript:void(0);" class="btn btn-warning">88</a>
                                <a href="javascript:void(0);" class="btn btn-warning">88</a>
                                <a href="javascript:void(0);" class="btn btn-warning">88</a>
                            </div>
                            <div class="tab-pane" id="is2">
                                <p>
                                    Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee.
                                </p>
                            </div>
                            <div class="tab-pane" id="is3">
                                <p>
                                    Trust fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out master cleanse gluten-free squid scenester freegan cosby sweater. Fanny pack portland seitan DIY, art party locavore wolf cliche high life echo park Austin. Cred vinyl keffiyeh DIY salvia PBR, banh mi before they sold out farm-to-table.
                                </p>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
            <!-- end widget content -->

        </div>
        <!-- end widget div -->

    </div>
    </article>