@model WEINCDENTAL.Models.ViewModelHisHareket


    <!-- NEW WIDGET START -->
    <article class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <!-- Widget ID (each widget will need unique ID)-->
        <div class="jarviswidget" id="wid-id-1" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-sortable="false" data-widget-deletebutton="false">
            <!-- widget options:
                usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                data-widget-colorbutton="false"
                data-widget-editbutton="false"
                data-widget-togglebutton="false"
                data-widget-deletebutton="false"
                data-widget-fullscreenbutton="false"
                data-widget-custombutton="false"
                data-widget-collapsed="true"
                data-widget-sortable="false"

            -->
            <header>
                <span class="widget-icon"> <i class="fa fa-comments"></i> </span>
                <h2>HİZMETLER </h2>
                <div class="widget-toolbar" role="menu">
                    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModalCreateKULLANICILAR">
                        Yeni Oluştur
                    </button>
                </div>
            </header>
            <!-- widget div-->
            <div>
                <!-- widget edit box -->
                <div class="jarviswidget-editbox">
                    <!-- This area used as dropdown edit box -->
                </div>
                <!-- end widget edit box -->
                <!-- widget content -->
                <div class="widget-body no-padding">
                    <!-- this is what the user will see -->
                    <div id="dt_basic_wrapper" class="dataTables_wrapper form-inline no-footer">
                        <!-- start widget head search-->
                        <div class="dt-toolbar no-padding">
                        </div>
                        @*@{
                                var getId = 0;
                            }*@
                        <!-- end widget head search -->
                        @*BODY*@
                        <!-- start widget footer -->
                        <div class="dt-toolbar-footer no-padding">
                        </div>
                        <!-- end widget footer -->
                    </div>
                </div>
                <!-- end widget content -->
            </div>
            <!-- end widget div -->
        </div>
        <!-- end widget -->
    </article>
    <!-- WIDGET END -->

<!-- Modal -->
<div class="modal fade" id="myModalCreateKULLANICILAR" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">Kullanıcı Oluştur</h4>
            </div>
            <div class="modal-body">
                @Html.Action("Create", "adm_kullanicilar")
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default col-md-12 col-sm-12 col-xs-12 col-lg-12" data-dismiss="modal">
                    Kapat
                </button>
                @*<button value="Submit" class="btn btn-primary" id="SubmitBTN">
                        Post Article
                    </button>*@
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
