<article class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
    
    <div class="jarviswidget" id="wid-id-6" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-sortable="false" data-widget-deletebutton="false">
        <!-- widget options:
        usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

        data-widget-colorbutton="false"
        data-widget-editbutton="false"
        data-widget-togglebutton="false"
        data-widget-deletebutton="false"
        data-widget-fullscreenbutton="false"
        data-widget-custombutton="false"
        data-widget-collapsed="true"
        data-widget-sortable="false"

        -->
        <header >
            <h2>Hizmetler ve Özel Durum </h2>
        </header>
        <!-- widget div-->
        <div>
            <!-- widget edit box -->
            <div class="jarviswidget-editbox">
                <!-- This area used as dropdown edit box -->
            </div>
            <!-- end widget edit box -->
            <!-- widget content -->
            <div class="widget-body">
                <div class="tabs-right">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#tab1" data-toggle="tab">Hizmetler <span class="badge bg-color-blue txt-color-white">12</span></a>
                        </li>
                        <li>
                            <a href="#tab2" data-toggle="tab">Özel Durum <span class="badge bg-color-greenLight txt-color-white">3</span></a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab1">
                            
                            @* Tab 1 içerik *@
                            
                            

                        </div>
                        <div class="tab-pane" id="tab2">
                            <p>
                                Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. 
                                Exercitation +1 labore velit, 
                                blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee.
                                Qui photo booth letterpress, 
                                commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. 
                                Homo nostrud organic, assumenda labore aesthetic magna delectus mollit.
                                Keytar helvetica VHS salvia yr, vero magna velit sapiente labore stumptown.
                                Vegan fanny pack odio cillum wes anderson 8-bit,
                                sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. 
                                Art party scenester stumptown, 
                                tumblr butcher vero sint qui sapiente accusamus tattooed echo park.
                            </p>
                        </div>
                       
                    </div>
                </div>
            </div>
            <!-- end widget content -->
        </div>
        <!-- end widget div -->
    </div>
</article>