<article class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
    
    <div class="jarviswidget" id="wid-id-6" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-sortable="false" data-widget-deletebutton="false">
        <!-- widget options:
        usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

        data-widget-colorbutton="false"
        data-widget-editbutton="false"
        data-widget-togglebutton="false"
        data-widget-deletebutton="false"
        data-widget-fullscreenbutton="false"
        data-widget-custombutton="false"
        data-widget-collapsed="true"
        data-widget-sortable="false"

        -->
        <header >
            <h2>Hizmetler ve Özel Durum </h2>
        </header>
        <!-- widget div-->
        <div>
            <!-- widget edit box -->
            <div class="jarviswidget-editbox">
                <!-- This area used as dropdown edit box -->
            </div>
            <!-- end widget edit box -->
            <!-- widget content -->
            <div class="widget-body">
                <div class="tabs-right">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#tab1" data-toggle="tab">Hizmetler <span class="badge bg-color-blue txt-color-white">12</span></a>
                        </li>
                        <li>
                            
                            
                            <a href="#tab2" data-toggle="tab">Özel Durum 
                                <span class="badge bg-color-greenLight txt-color-white">
                                    @ViewBag.OzelCount
                                </span>
                            
                                <span class="ribbon-button-alignment" style="height: 24px;">
                                    <span id="refresh" onclick="ClickRefresh()" class="btn btn-ribbon" data-title="refresh" rel="tooltip" data-html="true">
                                        <i class="fa fa-refresh"></i>
                                    </span>
                                
                                </span>
                            </a>
                       
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab1">
                            
                            @* Tab 1 içerik *@
                           
                            

                        </div>
                        <div class="tab-pane" id="tab2">
                            @* Tab 2 içerik *@     
                            @Html.Action("OzelDurumList", "View_HastalikDurum",new{id= ViewBag.tc })
                        </div>
                       
                    </div>
                </div>
            </div>
            <!-- end widget content -->
        </div>
        <!-- end widget div -->
    </div>
</article>

<script type="text/javascript">
    function ClickRefresh() {
        $('#tab2').load(document.URL + ' #tab2'); 
    }
</script>