<div class="login-info">
  
    <span>
        <i class="glyphicon glyphicon-tower"></i>
        <a href="javascript:void(0);" id="show-shortcut" data-action="toggleShortcut">

            <span> <label style="padding: 4px 0 0 10px;">Hoşgeldiniz @HttpContext.Current.User.Identity.Name</label>  
           </span>

        </a>
    </span>
</div>