@using WEINCDENTAL.Controllers
<script src="~/Scripts/WeincdentalScript.js"></script>
<!-- RIBBON -->
<div id="ribbon">
    <article class="col-sm-12 col-md-12 col-lg-1">
        <span class="ribbon-button-alignment">
            <span id="refresh" class="btn btn-ribbon" data-action="resetWidgets" data-title="refresh" rel="tooltip" data-placement="bottom" data-original-title="<i class='text-warning fa fa-warning'></i> Uyarı! Bu yenileme işlemi arayüzdeki alanları yenilecektir." data-html="true">
                <i class="fa fa-refresh"></i>
            </span>
        </span>
        <!-- breadcrumb -->
        <ol class="breadcrumb"></ol>
    </article>

    <!-- end breadcrumb -->
    <!-- You can also add more buttons to the
    ribbon for further usability

    Example below:

    <span class="ribbon-button-alignment pull-right">
        <span id="search" class="btn btn-ribbon hidden-xs" data-title="search"><i class="fa-grid"></i> Change Grid</span>
        <span id="add" class="btn btn-ribbon hidden-xs" data-title="add"><i class="fa-plus"></i> Add</span>
        <span id="search" class="btn btn-ribbon" data-title="search"><i class="fa-search"></i> <span class="hidden-mobile">Search</span></span>
    </span> -->
    <article class="col-sm-12 col-md-12 col-lg-4" style="padding-top: 4px;">
        @using (Html.BeginForm("GetTc", "Yardimci", FormMethod.Post))
        {
            <fieldset>
                <div class="col-md-12">
                    <div class="input-group">
                        <input class="form-control" placeholder="T.C. No" id="tcid" name="tc">
                        <div class="input-group-btn">
                            <button class="btn btn-default btn-primary" type="submit" id="btnSearch">
                                <i class="fa fa-search"></i> Sorgula
                            </button>
                            <button class="btn btn-default  btn-warning" type="button" id="cagriEkrani">
                                <i class="fa fa-reorder"></i> Çagri Ekranı
                            </button>
                        </div>
                    </div>
                </div>
            </fieldset>
        }
    </article>

    <div id="dinamikBilgi" style="color: white;padding-top: 4px;"> </div>

    <div class="modal right fade" id="cagriEkraniModal" tabindex="-1" role="dialog" aria-labelledby="cagriEkraniModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <fieldset>
                        <div class="form-group">
                            <div class="btn-group btn-group-sm btn-group-justified" data-toggle="buttons">
                                <label class="btn btn-default active">
                                    <input type="radio" name="hastaSec" id="icon-1" value="0" checked>
                                    Bekleyen
                                    <i class="fa fa-warning text-muted"></i>
                                </label>
                                <label class="btn btn-default">
                                    <input type="radio" name="hastaSec" id="icon-3" value="1">
                                    Çağırılan
                                    <i class="fa fa-check text-muted"></i>
                                </label>
                                <label class="btn btn-default">
                                    <input type="radio" name="hastaSec" id="icon-6" value="2">
                                    Baktığım
                                    <i class="fa fa-clock-o text-muted"></i>
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Bölümü Seçiniz</label>
                            <select class="form-control" id="Bolumler" name="Bolumler">
                                <option id="" value="Select"> Bölüm Seçiniz </option>
                            </select>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-default  btn-warning col-md-12 col-sm-12 col-xs-12 col-lg-12" type="button" id="cagriListesiYenile">
                                <i class="fa fa-check"></i> Listeyi Yenile
                            </button>
                        </div>
                    </fieldset>
                </div>
                <div class="modal-body" id="cagriEkraniList">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default col-md-12 col-sm-12 col-xs-12 col-lg-12" data-dismiss="modal">
                        Kapat
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>

</div>
<!-- END RIBBON -->


<div class="modal left fade" id="pacsGoruntule2" tabindex="-1" role="dialog" aria-labelledby="pacsGoruntule2" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            </div>
            <div class="modal-body" id="pacsGoruntuleList2">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default col-md-12 col-sm-12 col-xs-12 col-lg-12" data-dismiss="modal">
                    Kapat
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>


@{
    ViewBag.gdeger = Ortak._hastatc;

}

<script src="~/Scripts/jquery/jquery-1.9.1.min.js"></script>
<script type="text/javascript">

    $(document).ready(function () {
        var gveri = @Html.Raw(Json.Encode(ViewBag.gdeger));
        if (gveri != null) {
            $('#dinamikBilgi').load("@Url.Action("GetHastaBilgi", "hst_hastakarti")", { id: gveri});
        }
    });

    //    $(document).ready(function () {
    //        $('#btnSearch').click(function (e) {
    //            $.bigBox({
    //                title: " Hastanın Borcu Vardır",
    //                content: "ÖDEMEDİĞİ İŞLEMLERİN LİSTESİ",
    //                color: "#C46A69",
    //                //timeout: 8000,
    //                icon: "fa fa-bell swing animated",
    //                number: "1"
    //            });
    //            //e.preventDefault();
    //        });

    //});

            $(document).ready(function () {
                $('#cagriEkrani').click(function () {
                  $("#cagriEkraniModal").modal('show');
                });

                CagriEkraniBolumListele();

    });


</script>