@using WEINCDENTAL.Controllers
<script src="~/Scripts/WeincdentalScript.js"></script>

<div id="content" style="border-color: #8ac38b; background-color: #cde0c4;">
    <section>
        <hr />
        <div class="row">
            
            @using (Html.BeginForm("GetTc", "Yardimci"))
            {
                <article class="col-sm-12 col-md-12 col-lg-3">
                    <fieldset>
                        <div class="well col-md-12" style="background-color: #cde0c4; border-color: #8ac38b">
                            <div class="input-group">
                                <input class="form-control" @*type="number"*@ placeholder="T.C. No ara..." id="tcid" name="tc">

                                <div class="input-group-btn">
                                 
                                    <button class="btn btn-default btn-primary" type="submit" id="btnSearch">
                                        <i class="fa fa-search"></i> Sorgula
                                    </button>
                                </div>
                            </div>
                        </div>


                    </fieldset>
                </article>

            }
           
            <div id="dinamikBilgi"></div>

         
        </div>

    </section>
</div>
@{
    ViewBag.gdeger = Ortak._hastatc;

}
<script src="~/Scripts/jquery/jquery-1.9.1.min.js"></script>
<script type="text/javascript">


    $(document).ready(function () {
        var gveri = @Html.Raw(Json.Encode(ViewBag.gdeger));
        // alert(gveri );
        if (gveri != null) {
            $('#dinamikBilgi').load("@Url.Action("TCSor", "hst_hastakarti")", { id: gveri});
            // ListHasta(gveri ); 
        }
       
    });
</script>