<script src="~/Scripts/WeincdentalScript.js"></script>

<div id="content" style="border-color: #8ac38b; background-color: #cde0c4;">
    <section>
        <hr />
        <div class="row">
            
            @using (Html.BeginForm("GetTc", "Yardimci"))
            {
                <article class="col-sm-12 col-md-12 col-lg-3">
                    <fieldset>
                        <div class="well col-md-12" style="background-color: #cde0c4; border-color: #8ac38b">
                            <div class="input-group">
                                <input class="form-control" type="number" placeholder="T.C. No ara..." id="tcid" name="tc">

                                <div class="input-group-btn">
                                 
                                    <button class="btn btn-default btn-primary" type="submit" id="btnSearch">
                                        <i class="fa fa-search"></i> Sorgula
                                    </button>
                                </div>
                            </div>
                        </div>


                    </fieldset>
                </article>

            }
           
            <article class="col-sm-12 col-md-12 col-lg-6">
                <fieldset>
                    <div class="row">
                        <section class="form-group col-md-3">
                            <label class="col-md-5 control-label">Ad:</label>
                            <label class="col-md-7 control-label" id="hstAd">Durali</label>

                        </section>
                        <section class="form-group col-md-3">
                            <label class="col-md-5 control-label">Soyad:</label>
                            <label class="col-md-7 control-label" id="hstSoyad">KILINÇ</label>

                        </section>
                    </div>
                    <div class="row">
                        <section class="form-group col-md-3">
                            <label class="col-md-5 control-label">D.Tarihi:</label>
                            <label class="col-md-7 control-label" id="hstDt"> 04.02.1993</label>
                        </section>
                        <section class="form-group col-md-3">
                            <label class="col-md-5 control-label">Telefon:</label>
                            <label class="col-md-7 control-label" id="hsttel"> 5555555555</label>
                        </section>
                    </div>

                </fieldset>
            </article>

        </div>

    </section>
</div>

@section pagespecific {
    <script type="text/javascript">
        

        $(document).ready(function () {
         
        
          

        });
    </script>
}