@*@model IEnumerable<WEINCDENTAL.Models.hst_hastakarti>*@
@{

    ViewBag.Title = "Randevu Modülü";
}
<!-- MAIN CONTENT -->
<!-- DENEME FORK AMK -->
<div id="content">
    <!-- row -->
    <div class="row">
        <!-- col -->
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h1 class="page-title txt-color-blueDark">
                <!-- PAGE HEADER -->
                <i class="fa fa-calendar fa-fw "></i>
                Randevu
            </h1>
        </div>
        <!-- end col -->
        <!-- right side of the page with the sparkline graphs -->
        <!-- col -->
        <div class="col-xs-12 col-sm-5 col-md-5 col-lg-8">
            <!-- sparks -->
            <ul id="sparks">
                <li class="sparks-info">
                    <h5> Kazanç <span class="txt-color-blue">₺ 47,171</span></h5>
                    <div class="sparkline txt-color-blue hidden-mobile hidden-md hidden-sm">
                        1300, 1877, 2500, 2577, 2000, 2100, 3000, 2700, 3631, 2471, 2700, 3631, 2471
                    </div>
                </li>
                <li class="sparks-info">
                    <h5> Hasta <span class="txt-color-purple"><i class="fa fa-arrow-circle-up" data-rel="bootstrap-tooltip" title="Increased"></i>&nbsp;45%</span></h5>
                    <div class="sparkline txt-color-purple hidden-mobile hidden-md hidden-sm">
                        110,150,300,130,400,240,220,310,220,300, 270, 210
                    </div>
                </li>
                <li class="sparks-info">
                    <h5> İşlem <span class="txt-color-greenDark"><i class="fa fa-shopping-cart"></i>&nbsp;2447</span></h5>
                    <div class="sparkline txt-color-greenDark hidden-mobile hidden-md hidden-sm">
                        110,150,300,130,400,240,220,310,220,300, 270, 210
                    </div>
                </li>
            </ul>
            <!-- end sparks -->
        </div>
        <!-- end col -->
    </div>
    <!-- end row -->
    <!--
    The ID "widget-grid" will start to initialize all widgets below
    You do not need to use widgets if you dont want to. Simply remove
    the <section></section> and you can use wells or panels instead
    -->
    <!-- widget grid -->
    <section id="widget-grid">
        <!-- row -->

        <div id="content">
            <!-- row -->
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-3">
                    <!-- new widget -->
                    <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false">
                        <header>
                            <h2> Randevu Oluştur </h2>
                        </header>
                        <!-- widget div-->
                        <div>
                            <div class="widget-body">
                                <!-- content goes here -->
                                <form id="add-event-form">
                                    <fieldset>
                                        <div class="form-group">
                                            <label>Randevu Simgesi</label>
                                            <div class="btn-group btn-group-sm btn-group-justified" data-toggle="buttons">
                                                <label class="btn btn-default active">
                                                    <input type="radio" name="iconselect" id="icon-1" value="fa-info" checked>
                                                    <i class="fa fa-info text-muted"></i>
                                                </label>
                                                <label class="btn btn-default">
                                                    <input type="radio" name="iconselect" id="icon-2" value="fa-warning">
                                                    <i class="fa fa-warning text-muted"></i>
                                                </label>
                                                <label class="btn btn-default">
                                                    <input type="radio" name="iconselect" id="icon-3" value="fa-check">
                                                    <i class="fa fa-check text-muted"></i>
                                                </label>
                                                <label class="btn btn-default">
                                                    <input type="radio" name="iconselect" id="icon-4" value="fa-user">
                                                    <i class="fa fa-user text-muted"></i>
                                                </label>
                                                <label class="btn btn-default">
                                                    <input type="radio" name="iconselect" id="icon-5" value="fa-lock">
                                                    <i class="fa fa-lock text-muted"></i>
                                                </label>
                                                <label class="btn btn-default">
                                                    <input type="radio" name="iconselect" id="icon-6" value="fa-clock-o">
                                                    <i class="fa fa-clock-o text-muted"></i>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>Hasta Seçiniz</label>
                                            @Html.DropDownList("t_tc", null, "--Hasta Seçiniz--", htmlAttributes: new { @class = "select2", @id = "Hastalar" })
                                            @*<select class="form-control" id="Hastalar" name="Hastalar">
                                                    <option id="" value="Select">Hasta Seçiniz</option>
                                                </select>*@
                                        </div>
                                        <div class="form-group">
                                            <label>Randevu Başlığı</label>
                                            <input class="form-control" id="title" name="title" maxlength="100" type="text" placeholder="Randevu Başlığı Giriniz" value="" disabled>
                                        </div>
                                        <div class="form-group">
                                            <label>Randevu Açıklaması</label>
                                            <textarea class="form-control" placeholder="Kısaca açıklayınız" rows="3" maxlength="200" id="description"></textarea>
                                            <p class="note">En fazla 200 karakterlik alan</p>
                                        </div>
                                        <div class="form-group">
                                            <label>Randevu Öncelik Rengi</label>
                                            <div class="btn-group btn-group-justified btn-select-tick col-md-12" data-toggle="buttons">
                                                <label class="btn bg-color-darken active">
                                                    <input type="radio" name="priority" id="option1" value="bg-color-darken" checked>
                                                    <i class="fa fa-check txt-color-white"></i>
                                                </label>
                                                <label class="btn bg-color-blue">
                                                    <input type="radio" name="priority" id="option2" value="bg-color-blue">
                                                    <i class="fa fa-check txt-color-white"></i>
                                                </label>
                                                <label class="btn bg-color-orange">
                                                    <input type="radio" name="priority" id="option3" value="bg-color-orange">
                                                    <i class="fa fa-check txt-color-white"></i>
                                                </label>
                                                <label class="btn bg-color-greenLight">
                                                    <input type="radio" name="priority" id="option4" value="bg-color-greenLight">
                                                    <i class="fa fa-check txt-color-white"></i>
                                                </label>
                                                <label class="btn bg-color-blueLight">
                                                    <input type="radio" name="priority" id="option5" value="bg-color-blueLight">
                                                    <i class="fa fa-check txt-color-white"></i>
                                                </label>
                                                <label class="btn bg-color-red">
                                                    <input type="radio" name="priority" id="option6" value="bg-color-red">
                                                    <i class="fa fa-check txt-color-white"></i>
                                                </label>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <div class="form-actions">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <button class="btn btn-default" type="button" id="add-event">
                                                    Randevu Oluştur
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <!-- end content -->
                            </div>
                        </div>
                        <!-- end widget div -->
                    </div>
                    <!-- end widget -->
                    <div class="well well-sm" id="event-container">
                        <form>
                            <fieldset>
                                <legend>
                                    Sürüklenebilir İşlemler
                                </legend>
                                <ul id='external-events' class="list-unstyled">
                                    @*<li>
                                            <span class="bg-color-darken txt-color-white" data-description="Şu anda Meşgul" data-icon="fa-time">Ofis Toplantısı</span>
                                        </li>
                                        <li>
                                            <span class="bg-color-blue txt-color-white" data-description="Açıklama Yok" data-icon="fa-pie">Öğle Arası</span>
                                        </li>
                                        <li>
                                            <span class="bg-color-red txt-color-white" data-description="Acil Görevler" data-icon="fa-alert">ACİL</span>
                                        </li>*@
                                </ul>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" id="drop-remove" class="checkbox style-0">
                                        <span>Sürükleme işleminden sonra sil</span>
                                    </label>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-9" id="refreshCalender">
                    <!-- new widget -->
                    <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false">
                        <!-- widget options:
                        usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                        data-widget-colorbutton="false"
                        data-widget-editbutton="false"
                        data-widget-togglebutton="false"
                        data-widget-deletebutton="false"
                        data-widget-fullscreenbutton="false"
                        data-widget-custombutton="false"
                        data-widget-collapsed="true"
                        data-widget-sortable="false"

                        -->
                        <header>
                            <span class="widget-icon"> <i class="fa fa-calendar"></i> </span>
                            <h2> Randevular </h2>
                            <div class="widget-toolbar">
                                <!-- add: non-hidden - to disable auto hide -->
                                <div class="btn-group">
                                    <button class="btn dropdown-toggle btn-xs btn-default" data-toggle="dropdown">
                                        Görünüm <i class="fa fa-caret-down"></i>
                                    </button>
                                    <ul class="dropdown-menu js-status-update pull-right">
                                        <li>
                                            <a href="javascript:void(0);" id="mt">Aylık</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);" id="ag">Haftalık</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);" id="td">Günlük</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </header>
                        <!-- widget div-->
                        <div>
                            <div class="widget-body no-padding">
                                <!-- content goes here -->
                                <div class="widget-body-toolbar">
                                    <div id="calendar-buttons">
                                        <div class="btn-group">
                                            <a href="javascript:void(0)" class="btn btn-default btn-xs" id="btn-prev"><i class="fa fa-chevron-left"></i></a>
                                            <a href="javascript:void(0)" class="btn btn-default btn-xs" id="btn-next"><i class="fa fa-chevron-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div id="calendar"></div>
                                <!-- end content -->
                            </div>
                        </div>
                        <!-- end widget div -->
                    </div>
                    <!-- end widget -->
                </div>
            </div>
            <!-- end row -->
        </div>

        <!-- end row -->
        <!-- row -->
        <div class="row">
            <!-- a blank row to get started -->
            <div class="col-sm-12">
                <!-- your contents here -->
            </div>
        </div>
        <!-- end row -->
    </section>
    <!-- end widget grid -->
</div>


@section pagespecific {
    <script type="text/javascript">
        var cuser = "@HttpContext.Current.User.Identity.Name";
        var RandtblList = [];
        var RandtblNo = 0;

        RandevuHastaListele();

        $(document).ready(function() {

            "use strict";

            var date = new Date();
            var d = date.getDate();
            var m = date.getMonth();
            var y = date.getFullYear();
            var RandIcon = null;
            var RandClassName = null;
            var hdr = {
                left: 'title',
                center: 'month,agendaWeek,agendaDay',
                right: 'prev,today,next'
            };

            var initDrag = function(e) {
                // create an Event Object (http://arshaw.com/fullcalendar/docs/event_data/Event_Object/)
                // it doesn't need to have a start or end

                var eventObject = {
                    title: $.trim(e.children().text()), // use the element's text as the event title
                    description: $.trim(e.children('span').attr('data-description')),
                    icon: $.trim(e.children('span').attr('data-icon')),
                    className: $.trim(e.children('span').attr('class')) // use the element's children as the event class
                };
                // store the Event Object in the DOM element so we can get to it later
                e.data('eventObject', eventObject);
                // make the event draggable using jQuery UI
                e.draggable({
                    zIndex: 999,
                    revert: true, // will cause the event to go back to its
                    revertDuration: 0 //  original position after the drag
                });
            };

            var addEvent = function(title, priority, description, icon) {
                title = title.length === 0 ? "BOŞ" : title;
                description = description.length === 0 ? "No Description" : description;
                icon = icon.length === 0 ? " " : icon;
                priority = priority.length === 0 ? "label label-default" : priority;

                var html = $('<li><span class="' +
                    priority +
                    '" data-description="' +
                    description +
                    '" data-icon="' +
                    icon +
                    '">' +
                    title +
                    '</span></li>').prependTo('ul#external-events').hide().fadeIn();

                RandIcon = icon;
                RandClassName = priority;
                //alert(RandIcon);
                //alert(RandClassName);

                $("#event-container").effect("highlight", 800);

                initDrag(html);
            };

            /* initialize the external events
             -----------------------------------------------------------------*/

            $('#external-events > li').each(function() {
                initDrag($(this));
            });

            $('#add-event').click(function() {
                var title = $('#title').val(),
                    priority = $('input:radio[name=priority]:checked').val(),
                    description = $('#description').val(),
                    icon = $('input:radio[name=iconselect]:checked').val();

                addEvent(title, priority, description, icon);
            });

            /* initialize the calendar
             -----------------------------------------------------------------*/

            $('#calendar').fullCalendar({
                header: hdr,
                buttonText: {
                    prev: '<i class="fa fa-chevron-left"></i>',
                    next: '<i class="fa fa-chevron-right"></i>'
                },

                editable: true,
                droppable: true, // this allows things to be dropped onto the calendar !!!

                drop: function(date, allDay) { // this function is called when something is dropped

                    // retrieve the dropped element's stored Event Object
                    var originalEventObject = $(this).data('eventObject');

                    // we need to copy it, so that multiple events don't have a reference to the same object
                    var copiedEventObject = $.extend({}, originalEventObject);

                    // assign it the date that was reported
                    copiedEventObject.start = date;
                    copiedEventObject.allDay = allDay;
                    if (copiedEventObject.title != "BOŞ") {
                        var RandResult = RandTblEkle(RandtblList,
                            RandtblNo,
                            "",
                            "",
                            "",
                            copiedEventObject.title,
                            copiedEventObject.description,
                            copiedEventObject.start,
                            copiedEventObject.start,
                            RandClassName,
                            RandIcon,
                            true,
                            cuser,
                            "",
                            0,
                            true);
                        RandtblList = RandResult[0];
                        RandtblNo = RandResult[1];
                        RandIcon = null;
                        RandClassName = null;
                        RandevuTEMIZOlustur(RandtblList);
                    } else {
                        $.smallBox({
                            title: "İPTAL",
                            content: "<i class='fa fa-clock-o'></i> <i>Boş Randevuyu Takvime Ekleyemezsiniz...</i>",
                            color: "#C46A69",
                            iconSmall: "fa fa-times fa-2x fadeInRight animated",
                            timeout: 4000
                        });
                    }


                    // render the event on the calendar
                    // the last `true` argument determines if the event "sticks" (http://arshaw.com/fullcalendar/docs/event_rendering/renderEvent/)
                    $('#calendar').fullCalendar('renderEvent', copiedEventObject, true);

                    // is the "remove after drop" checkbox checked?
                    if ($('#drop-remove').is(':checked')) {
                        // if so, remove the element from the "Draggable Events" list
                        $(this).remove();
                    }

                },
                // RANDEVU SİLME
                eventClick: function(event) {
                    var tempTc = event.title.split(" ");
                    RanSil(event.id, event.title, tempTc[0]);
                    $('#calendar').fullCalendar('updateEvent', event);
                },

                // RANDEVU SÜRÜKLENİNCE CREATE
                eventDrop: function(info) {
                    //Wed Jun 26 2019 02: 00: 00 GMT + 0000
                    //"2019-06-26T00:00:00.000Z"
                    //var RandResult = RandTblEkle(RandtblList,RandtblNo, rt_id, rt_basvuru, rt_tc, rt_title, rt_aciklama, rt_baslangicsaat, rt_bitissaat, rt_classname, rt_icon, rt_allday, rt_createuser, rt_createdate, rt_basvurudr, rt_aktif);
                    //alert(info.start);
                    //alert(info.end);
                    //alert(info.className);
                    if (info.end != null) {
                        if (info.id != null) {
                            //alert("DROP tablo oluşturmaya geçiyorum _id :" + info.id + " " + info.allDay);
                            var RandResult = RandTblEkle(RandtblList,
                                RandtblNo,
                                info.id,
                                "",
                                "",
                                info.title,
                                info.description,
                                info.start,
                                info.end,
                                info.className,
                                info.icon,
                                info.allDay,
                                cuser,
                                "",
                                0,
                                true);
                            RandtblList = RandResult[0];
                            RandtblNo = RandResult[1];
                            RandevuDuzelt(RandtblList);
                        } else {
                            //alert("DROP tablo oluşturmaya geçiyorum _id :" + info.id + " " + info.allDay);
                            var RandResult = RandTblEkle(RandtblList,
                                RandtblNo,
                                "",
                                "",
                                "",
                                info.title,
                                info.description,
                                info.start,
                                info.end,
                                info.className,
                                info.icon,
                                info.allDay,
                                cuser,
                                "",
                                0,
                                true);
                            RandtblList = RandResult[0];
                            RandtblNo = RandResult[1];
                            RandevuOlustur(RandtblList);
                        }
                    } else if (info.end == null && info.allDay == true) {
                        if (info.id != null) {
                            //alert("DROP tablo oluşturmaya geçiyorum _id :" + info.id + " " + info.allDay);
                            var RandResult = RandTblEkle(RandtblList,
                                RandtblNo,
                                info.id,
                                "",
                                "",
                                info.title,
                                info.description,
                                info.start,
                                info.start,
                                info.className,
                                info.icon,
                                info.allDay,
                                cuser,
                                "",
                                0,
                                true);
                            RandtblList = RandResult[0];
                            RandtblNo = RandResult[1];
                            RandevuDuzelt(RandtblList);
                        } else {
                            //alert("DROP tablo oluşturmaya geçiyorum _id :" + info.id + " " + info.allDay);
                            var RandResult = RandTblEkle(RandtblList,
                                RandtblNo,
                                "",
                                "",
                                "",
                                info.title,
                                info.description,
                                info.start,
                                info.start,
                                info.className,
                                info.icon,
                                info.allDay,
                                cuser,
                                "",
                                0,
                                true);
                            RandtblList = RandResult[0];
                            RandtblNo = RandResult[1];
                            RandevuOlustur(RandtblList);
                        }
                    } else {
                        $.smallBox({
                            title: "DÜZENLE",
                            content:
                                "<i class='fa fa-clock-o'></i> <i>İşlem yaptığınız randevunun saatini düzenleyiniz..</i>",
                            color: "#007ACC",
                            iconSmall: "fa fa-times fa-2x fadeInRight animated",
                            timeout: 4000
                        });
                    }
                    $('#calendar').fullCalendar('updateEvent', info);
                },

                // RANDEVU SAATİ DEĞİŞİNCE ALLDAY VEYA SAATLİ OLUNCA
                eventResize: function(info) {
                    //Wed Jun 26 2019 02: 00: 00 GMT + 0000
                    //"2019-06-26T00:00:00.000Z"
                    //var RandResult = RandTblEkle(RandtblList,RandtblNo, rt_id, rt_basvuru, rt_tc, rt_title, rt_aciklama, rt_baslangicsaat, rt_bitissaat, rt_classname, rt_icon, rt_allday, rt_createuser, rt_createdate, rt_basvurudr, rt_aktif);
                    //alert(info.start);
                    //alert(info.end);
                    //alert(info.className);
                    if (info.end != null) {
                        if (info.id != null) {
                            //alert("RESIZE tablo oluşturmaya geçiyorum _id :" + info.id + " " + info.allDay);
                            var RandResult = RandTblEkle(RandtblList,
                                RandtblNo,
                                info.id,
                                "",
                                "",
                                info.title,
                                info.description,
                                info.start,
                                info.end,
                                info.className,
                                info.icon,
                                info.allDay,
                                cuser,
                                "",
                                0,
                                true);
                            RandtblList = RandResult[0];
                            RandtblNo = RandResult[1];
                            RandevuDuzelt(RandtblList);
                        } else {
                            //alert("RESIZE tablo oluşturmaya geçiyorum _id :" + info.id + " " + info.allDay);
                            var RandResult = RandTblEkle(RandtblList,
                                RandtblNo,
                                "",
                                "",
                                "",
                                info.title,
                                info.description,
                                info.start,
                                info.end,
                                info.className,
                                info.icon,
                                info.allDay,
                                cuser,
                                "",
                                0,
                                true);
                            RandtblList = RandResult[0];
                            RandtblNo = RandResult[1];
                            RandevuOlustur(RandtblList);
                        }
                    } else if (info.end == null && info.allDay == true) {
                        if (info.id != null) {
                            //alert("RESIZE tablo oluşturmaya geçiyorum _id :" + info.id +" " + info.allDay);
                            var RandResult = RandTblEkle(RandtblList,
                                RandtblNo,
                                info.id,
                                "",
                                "",
                                info.title,
                                info.description,
                                info.start,
                                info.start,
                                info.className,
                                info.icon,
                                info.allDay,
                                cuser,
                                "",
                                0,
                                true);
                            RandtblList = RandResult[0];
                            RandtblNo = RandResult[1];
                            RandevuDuzelt(RandtblList);
                        } else {
                            //alert("RESIZE tablo oluşturmaya geçiyorum _id :" + info.id + " " + info.allDay);
                            var RandResult = RandTblEkle(RandtblList,
                                RandtblNo,
                                "",
                                "",
                                "",
                                info.title,
                                info.description,
                                info.start,
                                info.start,
                                info.className,
                                info.icon,
                                info.allDay,
                                cuser,
                                "",
                                0,
                                true);
                            RandtblList = RandResult[0];
                            RandtblNo = RandResult[1];
                            RandevuOlustur(RandtblList);
                        }
                    } else {
                        $.smallBox({
                            title: "DÜZENLE",
                            content:
                                "<i class='fa fa-clock-o'></i> <i>İşlem yaptığınız randevunun saatini düzenleyiniz..</i>",
                            color: "#007ACC",
                            iconSmall: "fa fa-times fa-2x fadeInRight animated",
                            timeout: 4000
                        });
                    }
                    $('#calendar').fullCalendar('updateEvent', info);
                },

                events: '/hst_randevu/Randevular',

                eventRender: function(event, element, icon) {
                    if (!event.description == "") {
                        element.find('.fc-event-title').append("<br/><span class='ultra-light'>" +
                            event.description +
                            "</span>");
                    }
                    if (!event.icon == "") {
                        element.find('.fc-event-title').append("<i class='air air-top-right fa " +
                            event.icon +
                            " '></i>");
                    }
                },

                windowResize: function(event, ui) {
                    $('#calendar').fullCalendar('render');
                }
            });

            /* hide default buttons */
            $('.fc-header-right, .fc-header-center').hide();

            $('#calendar-buttons #btn-prev').click(function() {
                $('.fc-button-prev').click();
                return false;
            });

            $('#calendar-buttons #btn-next').click(function() {
                $('.fc-button-next').click();
                return false;
            });

            $('#calendar-buttons #btn-today').click(function() {
                $('.fc-button-today').click();
                return false;
            });

            $('#mt').click(function() {
                $('#calendar').fullCalendar('changeView', 'month');
            });

            $('#ag').click(function() {
                $('#calendar').fullCalendar('changeView', 'agendaWeek');
            });

            $('#td').click(function() {
                $('#calendar').fullCalendar('changeView', 'agendaDay');
            });

        });


        function RanSil(rid, tit, hastTc) {
            $.SmartMessageBox({
                title: "UYARI!",
                content: "Randevu No: " + rid + " Randevu Başlığı: " + tit + " olan randevu silinicektir. Emin misiniz?",
                buttons: '[No][Yes][Başvuru Ekranı]'
            },
                function (ButtonPressed) {
                    if (ButtonPressed === "Yes") {
                        RandevuSil(rid);
                    } else if (ButtonPressed === "Başvuru Ekranı") {
                        location.href ='@Url.Action("Hastabasvuru_Index", "hst_basvuru")?id=' + hastTc;
                    }else if (ButtonPressed === "No") {
                        $.smallBox({
                            title: "İPTAL",
                            content: "<i class='fa fa-clock-o'></i> <i>Randevu silme işleminden vazgeçildi...</i>",
                            color: "#C46A69",
                            iconSmall: "fa fa-times fa-2x fadeInRight animated",
                            timeout: 4000
                        });
                    }
                });
        }

    </script>
}
