
@{
    ViewBag.Title = "Home Page";
}
<!-- MAIN CONTENT -->
<!-- DENEME FORK AMK -->
<div id="content">
    <!-- row -->
    <div class="row">
        <!-- col -->
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h1 class="page-title txt-color-blueDark">
                <!-- PAGE HEADER -->
                <i class="fa-fw fa  fa-check"></i>
                Yetki Ayarları
            </h1>
        </div>
        <!-- end col -->
        <!-- right side of the page with the sparkline graphs -->
        <!-- col -->
        <div class="col-xs-12 col-sm-5 col-md-5 col-lg-8">
            <!-- sparks -->
            <ul id="sparks">
                <li class="sparks-info">
                    <h5> Kazanç <span class="txt-color-blue">$47,171</span></h5>
                    <div class="sparkline txt-color-blue hidden-mobile hidden-md hidden-sm">
                        1300, 1877, 2500, 2577, 2000, 2100, 3000, 2700, 3631, 2471, 2700, 3631, 2471
                    </div>
                </li>
                <li class="sparks-info">
                    <h5> Hasta <span class="txt-color-purple"><i class="fa fa-arrow-circle-up" data-rel="bootstrap-tooltip" title="Increased"></i>&nbsp;45%</span></h5>
                    <div class="sparkline txt-color-purple hidden-mobile hidden-md hidden-sm">
                        110,150,300,130,400,240,220,310,220,300, 270, 210
                    </div>
                </li>
                <li class="sparks-info">
                    <h5> İşlem <span class="txt-color-greenDark"><i class="fa fa-shopping-cart"></i>&nbsp;2447</span></h5>
                    <div class="sparkline txt-color-greenDark hidden-mobile hidden-md hidden-sm">
                        110,150,300,130,400,240,220,310,220,300, 270, 210
                    </div>
                </li>
            </ul>
            <!-- end sparks -->
        </div>
        <!-- end col -->
    </div>
    <!-- end row -->
    <!--
    The ID "widget-grid" will start to initialize all widgets below
    You do not need to use widgets if you dont want to. Simply remove
    the <section></section> and you can use wells or panels instead
    -->
    <!-- widget grid -->
    <section id="widget-grid">
        <!-- row -->
        @*@Html.Action("Index", "View_GroupYetki")*@
        @Html.Action("Yetki_Index", "Yetki")
        <!-- end row -->
        <!-- row -->
        <div class="row">
            <!-- a blank row to get started -->
            <div class="col-sm-12">
                <!-- your contents here -->
            </div>
        </div>
        <!-- end row -->
    </section>
    <!-- end widget grid -->
</div>


@section pagespecific {
    <script src="/scripts/plugin/bootstrap-wizard/jquery.bootstrap.wizard.min.js"></script>
    <script src="/scripts/plugin/fuelux/wizard/wizard.min.js"></script>
    <script src="/scripts/plugin/bootstrap-duallistbox/jquery.bootstrap-duallistbox.min.js"></script>
    <script src="~/Scripts/WeincdentalScript.js"></script>
    <script type="text/javascript">
        var userid;
        var yetkiList=[];
        $(document).ready(function () {

            //var userid;
            var username;
          //  var yetkiList=[];
            var values=[];
            //Bootstrap Wizard Validations
                WizardValidations();


            $('#initializeDuallistbox').on('change',
                function (e) {
                    var demo1 = $('select[name="duallistbox_demo2"]').bootstrapDualListbox();
                    demo1.bootstrapDualListbox('refresh', true);
                    yetkiList = demo1.val();
                    var yetkiname = $('select[name="duallistbox_demo2_helper2"]');
                    yetkiname.bootstrapDualListbox('refresh', true);
                    values = yetkiname.text();
                  });


            var $validator = $("#wizard-1").validate({
                rules: {
                    users: {
                        required: true
                    },
                    duallistbox_demo2_helper: {
                        required: true
                    },
                    duallistbox_demo2: {
                        required: true
                    },
                    postal: {
                        required: true,
                        minlength: 4
                    }
                },

                messages: {
                    users: {
                        required: "Lütfen bir kullanıcı seçiniz!!"

                    }
                },

                highlight: function(element) {
                    $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
                },
                unhighlight: function(element) {
                    $(element).closest('.form-group').removeClass('has-error').addClass('has-success');
                },
                errorElement: 'span',
                errorClass: 'help-block',
                errorPlacement: function(error, element) {
                    if (element.parent('.input-group').length) {
                        error.insertAfter(element.parent());
                    } else {
                        error.insertAfter(element);
                    }
                }
            });

            $('#bootstrap-wizard-1').bootstrapWizard({
                'tabClass': 'form-wizard',
                'onNext': function(tab, navigation, index) {
                    var $valid = $("#wizard-1").valid();
                    var demo1 = $('select[name="duallistbox_demo2"]').bootstrapDualListbox();
                    var listcount = demo1.val();
                    if (!$valid) {
                        $validator.focusInvalid();
                        return false;
                    } else if (index === 2 && listcount==null) {
                        ErrorValidate();
                        return false;
                    }
                    else {
                        if (index === 2) {
                            // Özet bölümündeki listeye at..

                            $('#Puser').text(username);
                            $('#Pyetkis').text(values);

                        }


                        $('#bootstrap-wizard-1').find('.form-wizard').children('li').eq(index - 1).addClass(
                            'complete');
                         $('#bootstrap-wizard-1').find('.form-wizard').children('li').eq(index - 1).find('.step')
                            .html('<i class="fa fa-check"></i>');
                       
                    }
                } , /*Tablara tıklamayı engelliyor*/
                'onTabClick': function(tab, navigation, index) {
                    return false;
                }

            });


            // Kullanıcı Seçimi yapılınca...
            $('#t_kullanicis').change(function () {

                var usid = $(this).val();
                //Seçilen kullanıcı
                userid = usid;
                username = $("#t_kullanicis option:selected").text();
                Yetkiler(usid);
                var url = "../../Scripts/WeincdentalScript.js";
                $.getScript(url,function() {
                        WizardValidations();
                });
                var demo1 = $('select[name="duallistbox_demo2"]').bootstrapDualListbox('refresh',true);
            });


        });
        $(document).ready(function() {
            var register = @Html.Raw(Json.Encode(ViewBag.Message));

            SuccessPopup(register);

        });

        // Yetki Listesi Validation Hata Mesajı
        function ErrorValidate() {
            $.smallBox({
                title: "Dikkat! Lütfen Yetki Seçiniz!",
                content: "<i class='fa fa-clock-o'></i> <i>1 seconds ago...</i>",
                color: "#cc1818",
                iconSmall: "fa fa-check bounce animated",
                timeout: 4000
            });
        }

        function YetkiKaydet() {
            
            $.SmartMessageBox({
                    title: "UYARI!",
                    content:"<div> Yetkiler Kaydedilecektir. </div> <div><br></div><div>EMİN MİSİNİZ?</div>",
                    buttons: '[No][Yes]'
                },
                function (ButtonPressed) {
                    if (ButtonPressed === "Yes") {

                        var durum = YetkiCreate(userid, yetkiList);

                        // Kayıt Durumu Popup...
                        SuccessPopup(durum);

                    }
                    if (ButtonPressed === "No") {
                        $.smallBox({
                            title: "İPTAL",
                            content: "<i class='fa fa-clock-o'></i> <i>Kayıt işleminden vazgeçildi...</i>",
                            color: "#C46A69",
                            iconSmall: "fa fa-times fa-2x fadeInRight animated",
                            timeout: 4000
                        });
                    }

                });
        }

        function SuccessPopup(kayitdurum) {
            if (kayitdurum === 1 || kayitdurum===true ) {

                $.smallBox({
                    title: "Kayıt İşlemi Başarılı oldu.",
                    content: "<i class='fa fa-clock-o'></i> <i>Az önce...</i>",
                    color: "#739E73",
                    iconSmall: "fa fa-thumbs-up bounce animated",
                    timeout: 4000
                });
            } else if (kayitdurum === 2 || kayitdurum===false) {

                $.smallBox({
                    title: "Kayıt İşlemi Başarısız oldu.",
                    content: "<i class='fa fa-clock-o'></i> <i>Az önce...</i>",
                    color: "#cc1818",
                    iconSmall: "fa fa-times-circle bounce animated",
                    timeout: 4000
                });
            }
        }

    </script>
}