@model WEINCDENTAL.Models.hst_basvuru

@{
    ViewBag.Title = "Hasta Başvuru";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="content">

    <div class="row">
        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
            <h1 class="page-title txt-color-blueDark">
                <!-- PAGE HEADER -->
                <i class="fa-fw fa fa-paperclip"></i>
                Hasta Başvuru

            </h1>
        </div>

    </div>

    <!-- widget grid -->
    <section id="widget-grid" class="">

        <!-- START ROW -->
        <div class="row">

            <!-- NEW COL START -->
            <article class="col-sm-12 col-md-12 col-lg-6">
                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget" id="wid-id-4" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-colorbutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                    <!-- widget options:
                    usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                    data-widget-colorbutton="false"
                    data-widget-editbutton="false"
                    data-widget-togglebutton="false"
                    data-widget-deletebutton="false"
                    data-widget-fullscreenbutton="false"
                    data-widget-custombutton="false"
                    data-widget-collapsed="true"
                    data-widget-sortable="false"

                    -->
                    <header>
                        <span class="widget-icon"> <i class="fa fa-paperclip"></i> </span>
                        <h2>Hasta Başvuru Oluştur </h2>
                    </header>
                    <!-- widget div-->
                    <div>
                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->
                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body no-padding">
                            @Html.Action("HastaBPartialCreate", "hst_basvuru",new{@id=@ViewBag.tc })
                           
                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->
                </div>
                <!-- end widget -->
                <!-- Widget ID (each widget will need unique ID)-->


            </article>
            <!-- END COL -->
            <!-- NEW COL START -->

        </div>
        <!-- END ROW -->
    </section>
    <!-- end widget grid -->


</div>
@section pagespecific {
    <script type="text/javascript">
        $(document).ready(function() {


            var kayitdurum = @Html.Raw(Json.Encode(ViewBag.Message));
            if (kayitdurum == 1) {
                $.smallBox({
                    title: "Kayıt İşlemi Başarılı oldu.",
                    content: "<i class='fa fa-clock-o'></i> <i>Az önce...</i>",
                    color: "#739E73",
                    iconSmall: "fa fa-thumbs-up bounce animated",
                    timeout: 4000
                });
            } else if (kayitdurum == 2) {
                $.smallBox({
                    title: "Kayıt İşlemi Başarısız oldu.",
                    content: "<i class='fa fa-clock-o'></i> <i>Az önce...</i>",
                    color: "#cc1818",
                    iconSmall: "fa fa-times-circle bounce animated",
                    timeout: 4000
                });
            }
        });
    </script>
}